#wrapper {
}
#header {
    background: none repeat scroll 0 0 #F1F1F1;
    border-bottom: 1px solid #E5E5E5;
    height: 71px;
    overflow: hidden;
}
#header h1 {
    margin-left:30px;
}
#content-wrap {
    max-width: 1100px;
    min-width: 800px;
    width:auto;
    margin:0 auto;
}
#content {
    padding-top:30px;
    min-width: 800px;
}

#welcome {
}
#welcome h1 {
    color:#DD4B39;
    margin:5px 10px;
    padding:0;
}
#welcome p {
    padding:5px 10px;
    line-height: 20px;
    font-size:1.2em;
}
#sidebar {
    margin-left:38px;
}

#login-form {
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #E5E5E5;
    margin: 12px 0 0;
    padding: 20px 25px 15px;
}
#footer {
    border-top: 1px solid #EBEBEB;
    height: 35px;
    margin-top:35px;
    overflow: hidden;
    width: 100%;
}
#footer p {
    padding:0 20px;
    line-height: 35px;
}
label {
    font-size:1.2em;
    padding:5px 0 2px 0;
}
input[type="text"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-image: none;
    border-radius: 1px 1px 1px 1px;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    margin: 0;
    padding: 0 8px;
    font-size: 15px;
    height: 32px;
    width: 100%;
}
input[type="password"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-image: none;
    border-radius: 1px 1px 1px 1px;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    margin: 0;
    padding: 0 8px;
    font-size: 15px;
    height: 32px;
    width: 100%;
}

input[type="button"] {
    background-color: #4D90FE;
    background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
    border: 1px solid #3079ED;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    min-width: 46px;
    padding: 0 8px;
    text-align: center;
    width:79px;
    height:28px;
}
/****select box****/
#select-box {
    border:3px solid #DD4B39;
    padding:10px 5px;
    height:350px;
    overflow:auto;
    width:350px;
    float:left;
    z-index: 10;
    position: relative;
    border-radius:5px;
}
#select-item {
	border: 1px solid #069;
	height: 200px;
	overflow: auto;
	width: 96%;
	float: left;
	position: relative;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
}

#filter-category a {
    float:left;
    display:inline-block;
    margin:3px;
}
#select-box ul li{
    display: block;
    padding:2px 5px;
}
#user-requirement {
    border:3px solid #4D90FE;
    margin-left:380px;
    position:relative;
    padding:10px 0 15px 20px;
    max-height: 350px;
    border-radius:5px;
}
#user-requirement label {
    width:238px;
    display:inline-block;
    float:left;
}
#user-requirement input {
    display:inline;
    width:300px;
    overflow:auto;
}
#user-requirement select {
   display:inline-block;
    width:300px;
    padding:3px 2px;
}
#select-item-content ul li {
    padding:2px 0;
}
.add, .remove {
    display:inline-block;
    padding:0 4px;
    margin-left:5px;
    border-radius:2px;
    cursor:pointer;
    color:white;
}
.add {
    background: #4D90FE;
}
.remove {
    background: #DD4B39;
}
#button-area  {
    position:absolute;
    bottom:-38px;
    left:0;
}
#button-area input[type=button] {
    width:200px;
    padding:0;
    margin:2px;
}
#button-area input[id=stop-service] {
    background-color: #dd2f1c;
    background-image: -moz-linear-gradient(center top , #DD4B39, #DD4B39);
    border-color:#DD4B39;
}
