#wrapper {
}
#header {
    background: none repeat scroll 0 0 #F1F1F1;
    border-bottom: 1px solid #E5E5E5;
    height: 71px;
    overflow: hidden;
}
#header h1 {
    margin-left:30px;
}
#content-wrap {
    max-width: 1100px;
    min-width: 800px;
    width:auto;
    margin:0 auto;
}
#content {
    padding-top:30px;
    min-width: 800px;
}

#welcome {
}
#welcome h1 {
    color:#DD4B39;
    margin:5px 10px;
    padding:0;
}
#welcome p {
    padding:5px 10px;
    line-height: 20px;
    font-size:1.2em;
}
#sidebar {
    margin-left:38px;
}

#login-form {
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #E5E5E5;
    margin: 12px 0 0;
    padding: 20px 25px 15px;
}
#footer {
    border-top: 1px solid #EBEBEB;
    bottom: 0;
    height: 35px;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
#footer p {
    padding:0 20px;
    line-height: 35px;
}
label {
    font-size:1.2em;
    padding:5px 0 2px 0;
}
input[type="text"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-image: none;
    border-radius: 1px 1px 1px 1px;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    margin: 0;
    padding: 0 8px;
    font-size: 15px;
    height: 32px;
    width: 100%;
}
input[type="submit"] {
    background-color: #4D90FE;
    background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
    border: 1px solid #3079ED;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    min-width: 46px;
    padding: 0 8px;
    text-align: center;
    width:79px;
    height:28px;
}
/****select box****/
#select-box {
    border:1px solid red;
    height:280px;
    overflow:auto;
    width:300px;
}
#filter-category a {
    float:left;
    display:inline-block;
    margin:3px;

}


