#wrapper {
}
ul, ol {
    margin-left:.8em;
    margin-top:0;
    margin-bottom:0;
    padding:0;
}
#header {
    background: none repeat scroll 0 0 #F1F1F1;
    border-bottom: 1px solid #E5E5E5;
    height: 71px;
    overflow: hidden;
}
#header h1 {
    margin-left:30px;
}
#content-wrap {
    max-width: 1100px;
    min-width: 800px;
    width:auto;
    margin:0 auto;
}
#content {
    padding-top:30px;
    min-width: 1095px;
    min-height: 500px;
}

#welcome {
}
#welcome h1 {
    color:#DD4B39;
    margin:5px 10px;
    padding:0;
}
#welcome p {
    padding:5px 10px;
    line-height: 20px;
    font-size:1.2em;
}
#sidebar {
    margin-left:38px;
}

#login-form {
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #E5E5E5;
    margin: 12px 0 0;
    padding: 20px 25px 15px;
}
#footer {
    border-top: 2px solid #EBEBEB;
    height: 35px;
    margin-top:35px;
    overflow: hidden;
    width: 100%;
}
#footer p {
    padding:0 20px;
    line-height: 35px;
}
label {
    font-size:1.2em;
    padding:5px 0 2px 0;
}
input[type="text"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-image: none;
    border-radius: 1px 1px 1px 1px;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    margin: 0;
    padding: 0 8px;
    font-size: 15px;
    height: 32px;
    width: 100%;
}
input[type="password"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-image: none;
    border-radius: 1px 1px 1px 1px;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    margin: 0;
    padding: 0 8px;
    font-size: 15px;
    height: 32px;
    width: 100%;
}

input[type="button"] {
    background-color: #4D90FE;
    background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
    border: 1px solid #3079ED;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    min-width: 46px;
    padding: 0 8px;
    text-align: center;
    width:79px;
    height:28px;
}

input[type="text"]:disabled {
	background-color:#999;
	color:#E9E9E9;
}
input[type="password"]:disabled {
	background-color:#999;
	color:#E9E9E9;
}
#status-and-login{
	position:relative;
	left:0px;
	top:0px;
    min-width: 46px;
    text-align: center;
    width:79px;
    height:28px;
}
#btnLogin-div{
	position:absolute;
	left:0px;
	top:0px;
}
#status-image{
	padding-top:5px;
}

#status {
	padding-top:5px;
	position:absolute;
	text-align:left;
	color:#999;
	left:90px;
	width:265%;
	height:23px;
}
/****select box****/
#select-box {
    border:3px solid #06C;
    padding:10px 5px;
    height:350px;
    width:350px;
    float:left;
    z-index: 10;
    position: relative;
    border-radius:5px;
    margin-right: 5px;
}

#selected-item {
    border:3px solid #F90;
    padding:10px 5px;
    height:350px;
    overflow:auto;
    width:368px;
    float:left;
    z-index: 10;
    position: relative;
    border-radius:5px;
    margin-right:5px;

}
#selected-item ul {
    padding-left:20px;
}
#select-item {
	border: 1px solid #C90;
	height: 263px;
	overflow: auto;
	width: 94%;
	float: left;
	position: relative;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 5px;
    margin:5px 0;
}

#select-box ul li{
    display: block;
    padding:2px 10px;
    background:url(../images/list-tamgiac.png) left center no-repeat;
}
#filter-category #select-subject{
    display:inline-block;
    width:263px;;
}
#filter-category a {
    float:left;
    display:inline-block;
    margin:3px;
}
#user-requirement label {
    width:auto;
}
#user-requirement input {
    display: block;
    max-width: 261px;
}
#user-requirement select {
    display:inline-block;
    margin-left:22px;
    padding:1px 8px;
}
#select-item-content ul li {
    padding:2px 0;
}
.add, .remove {
    display:inline-block;
    padding:0 4px;
    margin-left:5px;
    border-radius:2px;
    cursor:pointer;
    color:white;
}
.add {
    background: #4D90FE;
}
.remove {
    background: #DD4B39;
}
#button-area {
text-align:center;
float:right;
}
#button-area input[type=button] {
    width:164px;
    padding:0;
    margin:2px;
}
#button-area input[id=stop-service] {
    background-color: #dd2f1c;
    background-image: -moz-linear-gradient(center top , #DD4B39, #DD4B39);
    border-color:#DD4B39;
}
.hidden {
	visibility:hidden;
	position:absolute;
}


input:required:invalid, input:focus:invalid {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAT1JREFUeNpi/P//PwMpgImBRMACY/x7/uDX39sXt/67cMoDyOVgMjBjYFbV/8kkqcCBrIER5KS/967s+rmkXxzI5wJiRSBm/v8P7NTfHHFFl5mVdIzhGv4+u///x+xmuAlcdXPB9KeqeLgYd3bDU2ZpRRmwH4DOeAI07QXIRKipYPD35184/nn17CO4p/+cOfjl76+/X4GYAYThGn7/g+Mfh/ZZwjUA/aABpJVhpv6+dQUjZP78Z0YEK7OezS2gwltg64GmfTu6i+HL+mUMP34wgvGvL78ZOEysf8M1sGgZvQIqfA1SDAL8iUUMPIFRQLf+AmMQ4DQ0vYYSrL9vXDz2sq9LFsiX4dLRA0t8OX0SHKzi5bXf2HUMBVA0gN356N7p7xdOS3w5fAgcfNxWtn+BJi9gVVBOQfYPQIABABvRq3BwGT3OAAAAAElFTkSuQmCC');
    background-position: right center;
    background-repeat: no-repeat;
    -moz-box-shadow: none;
}
input:required:valid {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZZJREFUeNpi/P//PwMpgImBRMAy58QshrNPTzP8+vOLIUInisFQyYjhz98/DB9/fmT48/+35v7H+8KNhE2+WclZd+G0gZmJmYGThUNz1fUVMZtvbWT59eUXG9wGZIWMUPj993eJ5VeWxuy8veM/CzPL3yfvH/9H0QBSBDYZyOVm4mGYfn6q4cory5lYmFh+MrEwM/76/YsR7mk2ZjbWP///WP37/y8cqIDhx58fjvtu7XV6//ndT34G/v8FasUsDjKO/+A2PP3wpGLd+TVsfOz8XH6KAT+nHpokcu7h6d9q/BoMxToVbBYqlt9///+1GO4/WVdpXqY/zMqXn13/+vTjI9mj94/y//v9/3e9ZRObvYbDT0Y2xnm///x+wsfHB3GSGLf41jb3rv0O8nbcR66d+HPvxf2/+YZFTHaqjl8YWBnm/vv37yly5LL8+vuLgYuVa3uf/4T/Kd8SnSTZpb6FGUXwcvJxbAPKP2VkZESNOBDx8+9PBm4OwR1TwmYwcfzjsBUQFLjOxs52A2YyKysrXANAgAEA7buhysQuIREAAAAASUVORK5CYII=');
    background-position: right center;
    background-repeat: no-repeat;
    -moz-box-shadow: none;
}

#user-requirement form, #user-requirement h3 {
    margin-left:10px;
}


/*
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 1095px) {

    #user-requirement {
        margin-top:6px;
        border: 3px solid #00CC00;
        border-radius: 5px 5px 5px 5px;
        float: right;
        height: 140px;
        max-width: 730px;
        padding: 10px 0;
        position: relative;
        width: auto;
        min-width: 333px;
        z-index: 10;
    }
}



/*
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 1094px) {

    #user-requirement {
        border: 3px solid #00CC00;
        border-radius: 5px 5px 5px 5px;
        float: left;
        height: 140px;
        margin-right: 25px;
        max-width: 730px;
        min-width: 287px;
        padding: 10px 5px;
        position: relative;
        width: auto;
        z-index: 10;
    }
    #button-area {
        text-align:center;
        float:left;
    }
    #button-area input[type=button] {
        width:300px;
        display:block;
        padding:0;
        margin:2px;
    }
}

.empty {
    color: #DD4B39;
    font-weight:bold;
}
.not-empty {
    color: #00CC00;

}

